.header {
  padding: 1rem 1.5rem;
  background-color: #3a3a3a;
  border-bottom: 1px solid #8c8c8c;
}

.header nav {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.header nav a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.header nav a[aria-current="page"] {
  text-decoration: underline;
  color: #a7a7ff;
}
